$color-foreground: rgb(220, 220, 220); // #dcdcdc
$color-background: rgb(40, 40, 40);
$color-background--dark: darken($color-background, 7%);
$transition-time: 0.3s;

@import 'layout';
@import 'sidebar';
@import 'buttons';
@import 'controls';

/* OVERRIDES
=============== */

.hide {
  display: none;
}

.row {
  display: block;
  margin: 0.5em 0;
}

.row--margin-top {
  margin-top: 1em;
}

.row > * {
  min-width: 90px;
  display: inline-block;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  clip-path: inset(0 0 0 0);
  border: 0;
}